@import "mixins";
a{
  @include anim-linear;
}

input, textarea, select {
  @include anim;
  &:hover {
    @include anim;
  }
  &:focus,
  &:active,
  &.active{
    @include anim;
    outline: none;
  }
}
//-----------------
::-webkit-scrollbar {
  width:2px;
  border-radius: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 10px!important;
}

::-webkit-scrollbar-thumb {
  width: 2px;
  border-radius: 10px;
  border-color:   #DDDDDD;
  background-color:  #DDDDDD;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  border-width: 1px 1px 1px 2px;
  border-color:   #DDDDDD;
  background-color:   #DDDDDD;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-width: 4px;
  background-clip: content-box;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
  background:  #BBBBBB;
  border-radius: 10px;
}




